# Intellij
*.iws
*.iml
*.ipr
**/.idea/

# Gradle
**/.gradle/
**/build/

# Maven
**/.profiler/
**/target/
**/.mvn/wrapper/maven-wrapper.jar

# VS Code
**/.vscode/

# Util
/.util/

# Terraform
**/.terraform/
*.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
